.btn-long {
    width:200px !important;
}
.align-cntr {
    text-align: center;
}


div.colour-picker ul
{
    margin: 7px 0 0 20px;
    padding: 0;
    list-style: none;
}
div.colour-picker ul li {
    float:left !important;
    margin: 1px 15px 1px 0px;
    padding-left:5px;
    width:16px;
    height:16px;

    /*
    float:left !important;
    margin: 0 0 0 0;
    */
}
div.colour-picker div {
    margin-left:-25px;
    width:23px;
    height:23px;
}