/* ---------- OVERRIDING BOOTSTRAP STYLES ---------------- */
.form-group-lg .form-control {
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}
.form-horizontal .form-group-lg .control-label {
    font-weight: 400;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-long {
    width:150px !important;
}
.align-cntr {
    text-align: center;
}


div.colour-picker ul
{
    margin: 7px 0 0 20px;
    padding: 0;
    list-style: none;
}
div.colour-picker ul li {
    float:left !important;
    margin: 1px 15px 1px 0px;
    padding-left:5px;
    width:16px;
    height:36px;
}
div.colour-picker div {
    margin-left:-25px;
    width:23px;
    height:23px;
}
.container {
    width:99% !important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media (min-width: 692px) {
  .input-group {width:100% !important; }
}
@media (min-width: 922px) {
  .input-group {width:90% !important; }
}
@media (min-width: 1182px) {
  .input-group {width:70% !important; }
}
@media (min-width: 1450px) {
  .input-group {width:55% !important; }
}

.scorer-container {
    padding-top: 10px;
}

.footer .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    height: 100%;
    margin-bottom: -110px;
}
