@import url("reset.css");

@font-face {
    font-family: '7segment';
    src: url('../fonts/Classic/DSEG7Classic-Regular.ttf') format('truetype'),
    url('../fonts/Classic/DSEG7Classic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ledboard';
    src: url('../fonts/advanced_led_board-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /*font-size: 13px;*/
    color: white;
    background: #222;
}

div.rows div.row {
    clear:both;
    width: 100%;
}

div.rows div.column {
    float: left;
}

div.column {
    margin: 10px;
}

div.rows div.clear-row {
    line-height: 0px;
    font-size: 0px;
    clear:both;
}

div.container {
    margin: auto;
}

div.heading {
    font-family: "arial";
    font-size: 32px;
    color: white;
}

div.score {
    font-family: '7segment';
    font-size: 64px;
    /*color: yellow;*/
}

div.team {
    font-family: "arial";
    font-size: 32px;
    color: white;
}

div.digits-alt {
    font-family: '7segment';
    color: yellow;
    font-size: 124px;
}
@media (min-width: 692px) {
  div.digits-alt { font-size: 48px; }
}
@media (min-width: 922px) {
  div.digits-alt { font-size: 78px; }
}
@media (min-width: 1182px) {
  div.digits-alt { font-size: 96px; }
}
@media (min-width: 1450px) {
  div.digits-alt { font-size: 124px; }
}

img.banner {
    border-radius: 10px;
}

textarea {
    width: 128%;
    border-radius: 10px;
    font-family: "arial";
    font-size: 11px;
}

.inputFields label,.inputFields input {
    display:inline-block;
}

.inputFields label {
    width:100px;
    color: white;
}

div.message {
    color:red;
}

#wrapper {
    width: 100%;
}

#contentwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
}

#content {   
    margin: 5px;
    text-align:center;
}

#footer {
  
}

/* ---------- OVERRIDING PANEL STYLE ---------------- */
div.panel {
    border:0px !important;
    background:inherit;
    margin-top:10px;
}

/* ---------- BANNER PANEL --------------- */
div.banner-row {
    margin-top: 10px;
    margin-bottom: 5px;
}

/* ---------- CLOCK PANEL ---------------- */
div.panel .game-clock {
    /*background:#002900;*/
    border: 4px dotted #666;
    color:#0F0;
    text-align:center;
    padding: 35px 0;
    margin-bottom:20px !important;
    border-radius: 10px;
}

.panel-shotclock-period {
    margin-bottom: 5px !important;
    text-align: center;
    padding: 0px 0px;
}

div.panel .shot-clock {
    /*background:#010;*/
    color:#0F0;
    text-align:center;
    border: 4px dotted #666;
}

div.panel .shot-clock div {
    font-size: 84px !important;
    color: #CA0 !important;
}
@media (min-width: 692px) {
  div.panel .shot-clock div { font-size: 30px !important; }
}
@media (min-width: 922px) {
  div.panel .shot-clock div { font-size: 44px !important; }
}
@media (min-width: 1182px) {
  div.panel .shot-clock div { font-size: 64px !important; }
}
@media (min-width: 1450px) {
  div.panel .shot-clock div { font-size: 84px !important; }
}

div.panel-extra {
    padding-left: 0px;
    padding-right: 0px;
}
div.panel-extra .panel-heading {
    padding:  0px;
    color:#AAA !important;
}
div.panel-extra .panel-body {
    /*background: #363;*/
    color: #AFA !important;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 5px;
}

div.panel-shotclock {
    padding-right: 0px;
    color:#AAA !important;
}
div.panel-shotclock .panel-heading {
    padding:  0px;
}
div.panel-shotclock .panel-body {
    /*background: #363;*/
    color: #AFA !important;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 5px;
}

div.panel-firstpanel {
    margin-top: 15px;
    margin-bottom: 0px;
}

div.shot-clock-no-height {
    height: 0px;
    margin-top: -25px;
}

div.arrow-panel {
    margin: 0px;
    padding: 5px;
}

div.arrow-panel .panel-body{
    margin: 0px;
    padding: 0px;
}
/* ---------- TEAM PANEL ---------------- */
div.scorePanel {
    width:70%;
    font-family: "Arial";
}
div.teamPanel {
    border-radius: 10px !important;
    padding: 0 10px 10px 10px;
    margin:auto;
}
div.teamPanel p {
    padding: 10px 0 10px 0;
    font-size: 30px;
    font-weight: bold;
}
div.teamPanel div {
    border-radius: 2px !important;
}
div.teamPanel .panel-body {
    background: #222;
    padding: 25px 0 25px 0;
}
div.team1 {
    border-color: red;
    background: red;
    margin-top: 15px;
}
div.team2 {
    border-color: green;
    background: green;
    margin-top: 15px;
}
div.timeoutPanel {
    border-radius: 10px !important;
    margin:auto;
}

div.timeout {
    color:#AAA !important;
    margin:auto;
    margin-top:25px;
}
div.timeout .panel-heading {
    padding: 5px;
}
div.timeout .panel-body {
    padding: 0;
    background-color: inherit;
    border: 4px dotted;
    border-color: #666;
    border-radius: 10px !important;
}
div.timeout .panel-body .row {  margin:5px; padding-left:5px; padding-top:10px;}

div.timeout .team-timeouts {
    padding: 5px;
    text-align: left;
}
div.timeout .coach-timeouts {
    padding: 5px;
    text-align: right;
}
/*--------- OVERRIDING FOOT NAVBAR STYLE -----------*/
.navbar-default {
  background-color: inherit;
  border-color: transparent;
}

.footer .footer-image-right {
    text-align: right;
    font-size: 12px;
    color: #999;
}

.footer .footer-image-left {
    text-align: left;
    font-size: 12px;
    color: #999;
}

.footer .footer-scroller-panel {
    font-family: "ledboard";
    text-align: left;
    font-size: 25px;
    padding-top: 10px;
    color: #2EFE2E;
    border: 2px inset #888;
    box-shadow: 3px 3px 2px #000 inset;
}